@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


    body{
        font-family: 'poppins', sans-serif;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.4;
        color: beige;
        margin: 0;
        background-color: #161618;
        
        }

  
.container{
   
    background-image: url("jenni.jpg");
    height: 100%; 
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    align-self: center;
}

input, button,select,textarea{
    text-decoration: underline;
    font-weight: 800;
    color:black;
    width:100%;
    font-style: italic;
    border:none;
    outline: none;
    margin:0;
    font-family:inherit;
    font-size:inherit;
    line-height:inherit;
    background: rgba(255,255,255, .3);
}
.button {
    background-color: rgba(255,255,255, .3);
    border:solid 2px beige;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 6px 4px;
    cursor: pointer;
  }
  
@media only screen and (min-width: 400px) {
    .container{

        background-color: #161618;
        background-image: url(jenni.jpg);
        height: 100%;
        width: 110%;
        background-repeat: no-repeat;
        background-size: 150%;
        position: relative;
        background-position: center top;
}
  }